
/*.................................................Custom Rows........................................................*/
.cust_Row {    
    display: -ms-flexbox;  
    display: flex; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
    flex-direction: row;
    margin-right: -15px;
    margin-left: 15px;}

/*.............................................................*/